body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #116992;
}
.container {
  max-width: 50%;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
h1 {
  text-align: center;
  color: #333;
}
#noteForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
