body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: rgb(14, 149, 187);
}
.container {
  max-width: 50%;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#containerNewNote {
  margin: 10px;
  padding: 10px;
}

#notesListContainer {
  width: 50%;
  margin: 10px;
  padding: 10px;
  background-color: rgb(251, 250, 199);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
h1 {
  text-align: center;
  color: #333;
}
#noteForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
